<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2><a href="/posts">Connectiv8</a></h2>
    <div class="container">
        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <%  } %>
        <button><a href="/users/profile">User Profile</a></button>
        <button><a href="/posts/add">Add Post</a></button>
        <!-- <button><a href="#">List Users</a></button> -->
        <a href="/users/listUser"><button>List User</button></a>
        <button><a href="/users/logout">Log Out</a></button>
        <form action="">
            <input type="text" name="search">
            <button type="submit">Search</button>
          </form>
    </div>
    <div class="content">
        <% users.forEach(user => { %>
            <% if (user.Posts.length > 0) { %>
                <p><%= user.userName %></p>
                <% user.Posts.forEach(post => { %>
                    <p>Posted at : <%= formatDate(post.createdAt) %></p>
                    <img src="<%= post.imageUrl %>" alt="">
                    <p><%= post.description %></p>
                <% }) %>
            <% } %>
        <% }); %>
</body>
</html>